{% extends 'wordalternate/home.html' %}
{% load bootstrap3 i18n %}

{% block wordalternate_content %}
    {% if item %}

        {% with item.context_set.all as contexts %}
            {% blocktrans with meaning=item.definition region=item.informer.region word=item.word context=contexts.0.text|capfirst context "wordalternate question" %}
                <p>What word do you use with the meaning <span>"{{ meaning }}"</span>? In <span>{{ region }}</span> it is used <span>"{{ word }}"</span> like in "{{ context }}".</p>
            {% endblocktrans %}
        {% endwith %}

        <form method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                {% for button in button_items %}
                    <button type="submit" name="button" value="{{ button.0 }}" class="btn btn-primary">{{ button.1 }}</button>
                {% endfor %}
            {% endbuttons %}
        </form>
    {% else %}
        <p>{% trans "Ooops! There are no meanings in the database" %}.</p>
    {% endif %}
{% endblock %}