{% extends 'wordalternate/home.html' %}
{% load bootstrap3 i18n %}

{% block wordalternate_content %}
    {% if item %}
        {% blocktrans with meaning=item.definition region=item.informer.region word=item.word context "wordalternate question" %}
            <p>What word do you use with the meaning <span>{{ meaning }}</span>? In <span>{{ region }}</span> it is used <span>{{ word }}</span>.</p>
        {% endblocktrans %}

        <form method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                {% for button in button_items %}
                    <button type="submit" name="button" value="{{ button.0 }}" class="btn btn-primary">{{ button.1 }}</button>
                {% endfor %}
            {% endbuttons %}
        </form>
    {% else %}
        <h3>Error!</h3>
        <p>There are no meanings in the database.</p>
    {% endif %}
{% endblock %}