{% extends 'word_use/home.html' %}
{% load bootstrap3 %}

{% block word_use_content %}
    {% if meaning %}
        <h3>{{ meaning.word }}</h3>
        <p>
            {% with meaning.first_context as first_context %}
                {% if first_context %}
                    {{ meaning.definition }}: <em>{{ first_context|capfirst }}.</em>
                {% else %}
                    {{ meaning.definition }}.
                {% endif %}
            {% endwith %}
        </p>
        <form method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                {% for button in button_items %}
                    <button type="submit" name="use" value="{{ button.0 }}" class="btn btn-primary">{{ button.1 }}</button>
                {% endfor %}
            {% endbuttons %}
        </form>
    {% else %}
        <h3>Error!</h3>
        <p>There are no meanings in the database.</p>
    {% endif %}
{% endblock %}