{% extends 'word_use/home.html' %}
{% load bootstrap3 i18n %}

{% block word_use_content %}
    {% if item %}
        <h3>{{ item.word }}</h3>
        <p>
            {% with item.context_set.all as contexts %}
                {% if contexts %}
                    {{ item.definition }}: <em>{{ contexts.0.text|capfirst }}.</em>
                {% else %}
                    {{ item.definition }}.
                {% endif %}
            {% endwith %}
        </p>
        <form method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                {% for button in button_items %}
                    <button type="submit" name="use" value="{{ button.0 }}" class="btn btn-primary">{{ button.1 }}</button>
                {% endfor %}
            {% endbuttons %}
        </form>
    {% else %}
        <h3>Error!</h3>
        <p>{% trans "There are no meanings in the database" %}.</p>
    {% endif %}
{% endblock %}