{% extends 'word_use/home.html' %}
{% load bootstrap3 i18n %}

{% block word_use_content %}
    {% if item %}
        {% with item.context_set.all as contexts %}
        <p>
            {% blocktrans with meaning=item.definition word=item.word context "word use question" %}
                Do you use the word <span>"{{ word }}"</span> with the meaning <span>"{{ meaning }}"</span>?
            {% endblocktrans %}
            {% if contexts %}
                {% blocktrans with context=contexts.0.text|capfirst %}
                <span>"{{ context }}".</span>
                {% endblocktrans %}
            {% endif %}
        </p>
        {% endwith %}

        <form method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                {% for button in button_items %}
                    <button type="submit" name="use" value="{{ button.0 }}" class="btn btn-primary">{{ button.1 }}</button>
                {% endfor %}
            {% endbuttons %}
        </form>
    {% else %}
        <p>{% trans "Ooops! There are no meanings in the database" %}.</p>
    {% endif %}
{% endblock %}