{% extends 'base.html' %}
{% load i18n %}

{% block content %}
        <div class="row">
            <div class="col-md-2 col-sm-3 sidebar">
                {% block profile_menu %}
                    <h2>Profile</h2>
                    <p><a href="{% url 'profile' %}">Personal</a></p>
                    <p><a href="{% url 'profile_informer' %}">Location</a></p>
                {% endblock %}
            </div>
            <div class="col-sm-9 col-md-10 main">
                {% block content_profile %}
                    <h3 class="cabecera-caja-fondo-gris-02">{% trans "Personal data" %}</h3>
                    <div class="content">
                        <div class="caja-fondo-gris">
                            <form method="post" class="form">{% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="b-yellow">{% trans "Update" %}</button>
                            </form>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
{% endblock %}