{% extends 'coarse_word/home.html' %}
{% load bootstrap3 %}

{% block coarse_word_content %}
    {% if definition %}
        <h3>{{ definition.word }}</h3>
        <p>{{ definition.definition }}</p>
        <form method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" name="profane" value="true" class="btn btn-primary">Profane :S</button>
                <button type="submit" name="profane" value="false" class="btn btn-primary">It's ok</button>
            {% endbuttons %}
        </form>
    {% else %}
        <h3>Error!</h3>
        <p>There are no definitions in the database.</p>
    {% endif %}
{% endblock %}