{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Honor code" %}{% endblock %}

{% block content %}
    <h2>{% trans "Honor code" %}</h2>
    <h3 class="cabecera-caja-fondo-gris-01 margin-top-tres">{% trans "What is it?" %}</h3>
    <div class="content">
        <div class="caja-fondo-gris">
            <p>Al aceptar el código ético te comprometes a rechazar cualquier forma de reproducción, distribución, comunicación pública o transformación de las entradas que conforman el glosario del que se alimenta la interfaz de Neutrón: lemas, definiciones y ejemplos.</p>
        </div><!-- caja-fondo-gris -->
    </div><!-- content -->
    <h3 class="cabecera-caja-fondo-gris-01 margin-top-tres">{% trans "Why do I have to accept it?" %}</h3>
    <div class="content">
        <div class="caja-fondo-gris">
            <p>Para garantizar la calidad del proyecto Neutrón, solicitamos la ayuda de la editorial SM, que nos cedió el contenido de su <a href=" http://www.smdiccionarios.com/home.php" target="_blank">Diccionario básico de la lengua española</a>. Las entradas que te presentamos, sus definiciones y los ejemplos que las acompañan son, por lo tanto, propiedad intelectual de SM, y es nuestra responsabilidad garantizar que los informantes accederán a ellas con un único fin: contribuir al proyecto de investigación del que forman parte.</p>
        </div><!-- caja-fondo-gris -->
    </div><!-- content -->

    {% if request.user.is_authenticated %}
    <div class="content">
        <div class="caja-fondo-gris">
            <form method="post" action="" class="form">{% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <button class="b-yellow" name="accept" value="accept">{% trans "Accept" %}</button>
                <button class="b-yellow" name="decline" value="decline">{% trans "Decline" %}</button>
            </form>
        </div>
    </div>
    {% else %}
        <p>
            {% url 'neutron:join' as join_url %}
            {% blocktrans %}
            To accept the honor code, you must <a href="{{ join_url }}">register</a> first.
            {% endblocktrans %}
        </p>
    {% endif %}
{% endblock %}
