{% load static i18n %}
{% load neutron_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Neutrón | {% block title %}Título{% endblock %}</title>

        {% block css %}
            <!-- Bootstrap -->
            <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
            <link href="{% static 'css/style.css' %}" rel="stylesheet">
            {% block extra_css %}
            {% endblock %}
        {% endblock %}

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

    <body>
        <nav id="cabecera-neutron" class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="{% url 'home' %}"><img class="logo" src="{% static 'img/neutron_logo_600x143.png' %}" alt="logo neutron"></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">

                        {% if not user.is_authenticated %}
                            <li><a href="{% url 'join' %}">{% trans "Únete" %}</a></li>
                        {% else %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Participa" %} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'worduse:run' %}">{% trans "Game 1" %}</a></li>
                                    <li><a href="{% url 'wordalternate:run' %}">{% trans "Game 2" %}</a></li>
                                    <li><a href="{% url 'wordcoarse:run' %}">{% trans "Game 3" %}</a></li>
                                </ul>
                            </li>
                            {% comment %}
                            <li><a href="{% url 'neutron:word_detail_search' %}">{% trans "Consulta" %}</a></li>
                            {% endcomment %}
    						<li><a href="{% url 'faq' %}">FAQ's</a></li>
                        {% endif %}

                        <li><a href="{% url 'about' %}">{% trans "Equipo y patrocinadores" %}</a></li>

                        {% if user.is_authenticated %}
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user }} <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'neutron:profile' %}">{% trans "Profile" %}</a></li>
                                        {% comment %}
                                        <li><a href="{% url 'neutron:profile_stats' %}">{% trans "My stats" %}</a></li>
                                        {% endcomment %}
                                        <li><a href="{% url 'neutron:honor_code' %}">{% trans "Honor code" %}</a></li>
                                        {% if user.is_staff %}
                                            <li><a href="{% url 'admin:index' %}">{% trans "Admin" %}</a></li>
                                        {% endif %}
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{% url 'logout' %}">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        {% else %}
                            <li><a href="{% url 'login' %}">{% trans "Login" %}</a></li>
                        {% endif %}

                        {% comment %}
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                {% flag_icon language_code=LANGUAGE_CODE size=16 as current_flag %}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="{{ current_flag }}"/> <span class="caret"></span></a>
                                <ul class="dropdown-menu" id="set_language">
                                    <li><a href="">{% trans "Select interface language" %}</a></li>
                                    <li role="separator" class="divider"></li>
                                    {% for language in LANGUAGES %}
                                        {% flag_icon language_code=language.0 size=16 as flag %}
                                        <li><a class="lang_option" value="{{ language.0 }}" href="#"><img src="{{ flag }}"/> {{ language.1 }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                        {% endcomment %}

                    </ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

        <section id="contenido-principal">
			<div class="container">
                {% block message %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            <a class="close" data-dismiss="alert">×</a>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endblock %}

                {% block content %}
                {% endblock %}
            </div>
        </section>

        <footer>
			<div class="container">
				<img class="logo" src="{% static "img/neutron_logo_light_600x143.png" %}" alt="logo neutron">
				<p>©2017 Proyecto Neutrón</p>
				<p>Madrid – Ciudad de México – Frankfurt</p>
			</div><!-- container -->
		</footer>

        {% block js %}
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="{% static 'js/bootstrap.min.js' %}"></script>

            <!-- send language form -->
            <script>
                $(function() {
                    $("#set_language").find("li").find("a.lang_option").each(function() {
                        $(this).click(function() {
                            var postdata={
                                'language': $(this).attr('value'),
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            }
                            $.post("{% url 'set_language' %}", postdata, function() {window.location.reload();});
                        });
                    });
                });

            </script>

            {% block extra_js %}
            {% endblock %}
        {% endblock %}

    </body>
</html>