{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "FAQ's" %}{% endblock %}

{% block content %}
    <h2>Preguntas frecuentes</h2>
   <h3 class="cabecera-caja-fondo-gris-01 margin-top-tres">¿Por qué juego debo empezar?</h3>
    <div class="content">
        <div class="caja-fondo-gris">
            <p>¡Por el que te apetezca! Ten en cuenta que el juego 2 requiere un esfuerzo mayor, ya que exige cierta concentración y creatividad; tal vez quieras reservarlo para cuando te sientas más descansado. </p>
        </div><!-- caja-fondo-gris -->
    </div><!-- content -->

<h3 class="cabecera-caja-fondo-gris-01 margin-top-tres">Estoy preocupado por la consistencia de mis respuestas, ¿puedo consultar mi historial?</h3>
    <div class="content">
        <div class="caja-fondo-gris">
            <p>Al programar Neutrón hemos tenido en cuenta que puede haber cierto nivel de inconsistencia en las respuestas y usaremos criterios estadísticos al analizarlas. No te preocupes por el historial, ¡sigue adelante!</p>
        </div><!-- caja-fondo-gris -->
    </div><!-- content -->

<h3 class="cabecera-caja-fondo-gris-01 margin-top-tres">¿Cómo puedo saber cuánto me queda?</h3>
    <div class="content">
        <div class="caja-fondo-gris">
            <p>¿¿??</p>
        </div><!-- caja-fondo-gris -->
    </div><!-- content -->

<h3 class="cabecera-caja-fondo-gris-01 margin-top-tres">¿Voy deprisa o despacio?, ¿cuánto debería tardar en responder cada pregunta?</h3>
    <div class="content">
        <div class="caja-fondo-gris">
            <p>Contestaremos a esta pregunta tan pronto como hayamos analizado los resultados de los primeros pilotos.</p>
        </div><!-- caja-fondo-gris -->
    </div><!-- content -->

<h3 class="cabecera-caja-fondo-gris-01 margin-top-tres">Me he equivocado en una respuesta, ¿cómo puedo volver atrás?</h3>
    <div class="content">
        <div class="caja-fondo-gris">
            <p>En el juego 3 puedes indicarnos que te equivocaste en la palabra inmediatamente anterior pulsando <span class="color-orange">deshacer.</span></p>
        </div><!-- caja-fondo-gris -->
    </div><!-- content -->

<h3 class="cabecera-caja-fondo-gris-01 margin-top-tres">¿Por qué Neutrón me ofrece varias veces la misma palabra?, ¿he hecho algo mal?</h3>
    <div class="content">
        <div class="caja-fondo-gris">
            <p>En absoluto, forma parte de los requisitos estadísticos del estudio.</p>
        </div><!-- caja-fondo-gris -->
    </div><!-- content -->

<h3 class="cabecera-caja-fondo-gris-01 margin-top-tres">¿Por qué el juego 2 no muestra ninguna entrada?</h3>
    <div class="content">
        <div class="caja-fondo-gris">
            <p>Este juego se alimenta de tus respuestas y de las respuestas de otros informantes de tu país, por lo que el número de entradas que contiene es variable. Cuanto mayor sea la actividad de los informantes y su antigüedad en la plataforma, mayor será el volumen de entradas que muestre.</p>
        </div><!-- caja-fondo-gris -->
    </div><!-- content -->

<h3 class="cabecera-caja-fondo-gris-01 margin-top-tres">En el juego 2, para cierto significado, uso una palabra distinta de la que se usa en España, pero no consigo recordarla, ¿qué hago?</h3>
    <div class="content">
        <div class="caja-fondo-gris">
            <p>Te animamos muchísimo a darle una vuelta más antes de rendirte, ¿seguro que no puedes recordarla? Si te sientes realmente atascado, selecciona <span class="color-orange">¡Lo siento, no sabría decir!</span> Te lo volveremos a preguntar más adelante, ¡tal vez haya más suerte!</p>
        </div><!-- caja-fondo-gris -->
    </div><!-- content -->

<h3 class="cabecera-caja-fondo-gris-01 margin-top-tres">En el juego 2, para cierto significado, uso tanto la palabra que se usa en España como otra, ¿qué hago?</h3>
    <div class="content">
        <div class="caja-fondo-gris">
            <p>Si tienes la impresión de que tiendes a usar una palabra distinta de la propuesta, aunque esta no te resulte del todo extraña, ni lo dudes, cuéntanos cuál es.</p>
        </div><!-- caja-fondo-gris -->
    </div><!-- content -->

<h3 class="cabecera-caja-fondo-gris-01 margin-top-tres"> En el juego 2, para cierto significado, uso la misma palabra que se usa en España, ¿qué hago?</h3>
    <div class="content">
        <div class="caja-fondo-gris">
            <p>Ningún problema, tan solo escribe cuidadosamente esta palabra y pulsa <span class="color-orange">Enviar</span>.</p>
        </div><!-- caja-fondo-gris -->
    </div><!-- content --> 

<h3 class="cabecera-caja-fondo-gris-01 margin-top-tres"> En el juego 2, ¿escribo la palabra que uso con inicial mayúscula?, ¿puedo usar tildes?, ¿qué pasa si cometo una falta?</h3>
    <div class="content">
        <div class="caja-fondo-gris">
            <p>Es importante que seas cuidadoso cuando escribas tu respuesta, ya que solo así estaremos seguros de haber interpretado bien lo que quieres decir. Puedes comenzar por minúscula y, por favor, vigila los acentos ;-)</p>
        </div><!-- caja-fondo-gris -->
    </div><!-- content -->

<h3 class="cabecera-caja-fondo-gris-01 margin-top-tres">En el juego 3, no estoy seguro de si la palabra es o no malsonante, ¿qué botón pulso?</h3>
    <div class="content">
        <div class="caja-fondo-gris">
            <p>Cuando dudes, hazte esta pregunta: ¿usarías la palabra propuesta delante de un niño de seis años? Si la respuesta es afirmativa, pulsa <span class="color-orange">No es grosera</span>. Si pronunciar esta palabra delante de un niño te resulta claramente inapropiado, pulsa <span class="color-orange">Es grosera</span>.</p>
        </div><!-- caja-fondo-gris -->
    </div><!-- content -->



    {% for question in question_list %}
        <h3 class="cabecera-caja-fondo-gris-01">{{ question.question }}</h3>
        <div class="content">
            <div class="caja-fondo-gris">
                <p>{{ question.answer }}</p>
            </div><!-- caja-fondo-gris -->
        </div><!-- content -->
    {% endfor %}

    {% if pending_questions %}
    <hr/>
    <h2>{% trans "Your pending questions" %}</h2>
    {% for question in pending_questions %}
        <h3 class="cabecera-caja-fondo-gris-01{% if forloop.first %} margin-top-tres{% endif %}">
            {% blocktrans with timestamp=question.timestamp %}On {{ timestamp }} you asked:{% endblocktrans %}
        </h3>
        <div class="content">
            <div class="caja-fondo-gris">
                <p>{{ question.user_input }}</p>
                <p>
                    <form method="post" action="{% url 'faq_delete' %}">{% csrf_token %}
                        <input id="faq_id" name="faq_id" value="{{ question.id }}" hidden="hidden"/>
                        <button class="b-yellow">{% trans "Delete" %}</button>
                    </form>
                </p>
            </div><!-- caja-fondo-gris -->
        </div><!-- content -->
    {% endfor %}
    {% endif %}


    <h3 class="cabecera-caja-fondo-gris-02">¿Tienes otra duda? ¡Escríbenos!</h3>
    <div class="content">
        <div class="caja-fondo-gris">
            <form method="post" action="{% url 'faq_ask' %}">{% csrf_token %}
                <textarea id="id_user_input" name="user_input" cols="30" rows="10" placeholder="{% trans "¿Cómo podemos ayudarte?" %}"></textarea>
                <button class="b-yellow">{% trans "Enviar" %}</button>
            </form>
        </div><!-- caja-fondo-gris -->
    </div><!-- content -->

{% endblock %}
