{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block content %}
    <h2>{% trans "¡Hola! Somos Neutrón" %}</h2>
    <div class="content">
        <p>{% trans "Queremos mejorar la comunicación entre 470 millones de hispanohablantes." %}</p>
        <p>{% trans "Para conseguirlo, necesitamos conocer el uso que los hablantes nativos de distintos países hacen de la lengua española. Necesitamos que tú formes parte del proyecto." %}</p>
    </div>

    <h3 class="cabecera-caja-fondo-gris-01 margin-top-tres">{% trans "¿Cómo lo vamos a hacer?" %}</h3>
    <div class="content">
        <div class="caja-fondo-gris">
            {% blocktrans %}
            Vamos a centrarnos en el léxico, que es el componente de la lengua que
            más diferencias presenta entre unos países y otros y el que no puede reducirse a reglas.
            {% endblocktrans %}
        </div>
    </div>

    <h3 class="cabecera-caja-fondo-gris-01 margin-top-tres">{% trans "¿Por qué queremos hacerlo?" %}</h3>
    <div class="content">
        <div class="caja-fondo-gris">
            {% trans "Por dos razones:" %}
            <ul>
                <li>
                    {% blocktrans %}
                    En primer lugar, porque no podemos creer que un proyecto como Neutrón no haya sido
                    abordado y completado antes: ¡a todos nos gusta identificar diferencias entre variedades de
                    español! Disfrutamos conociendo nuestro idioma y comprendiendo lo que hay detrás de sus
                    diferentes manifestaciones. La lengua es única despertando nuestra curiosidad.
                    {% endblocktrans %}
                </li>
                <li>
                    {% blocktrans %}
                    En segundo lugar, porque el análisis de los datos obtenidos tiene una aplicación inmediata y
                    enriquecedora: ya sea porque queremos llegar al mayor número de hablantes de español
                    posible o porque queremos acercarnos a una comunidad específica, solo el conocimiento
                    del uso del léxico en cada región nos permitirá alcanzar nuestro objetivo de forma óptima.
                    {% endblocktrans %}
                </li>
            </ul>
        </div>
    </div>

    <h3 class="cabecera-caja-fondo-gris-01 margin-top-tres">{% trans "¿Por qué no lo conseguiremos sin tu ayuda?" %}</h3>
    <div class="content">
        <div class="caja-fondo-gris">
            <p>
                {% blocktrans %}
                La primera vez que nos reunimos para hablar de Neutrón pensamos en contrastar libros y diarios
                publicados en diferentes países hispanohablantes; aplicando la tecnología adecuada y un buen
                análisis de datos, ¿no obtendríamos todas las respuestas con respecto al uso del vocabulario en
                distintos puntos del mapa? La idea era tentadora, pero le faltaba algo fundamental: frescura. Los
                textos publicados tienden a ofrecer una selección cuidadosamente meditada del léxico, muchas
                veces por su vocación universal o de integración en un determinado estándar. El vocabulario que
                queremos conocer y que de verdad nos va a ayudar a completar el mapa del español en el mundo es
                el que tú utilizas de forma espontánea, sin filtros.
                {% endblocktrans %}
            </p>
        </div>
    </div>

    <h3 class="cabecera-caja-fondo-gris-01 margin-top-tres">{% trans "¿Qué tecnología aplicaremos?" %}</h3>
    <div class="content">
        <div class="caja-fondo-gris">
            <p>
                {% blocktrans %}
                ¿Tecnología? Se trata de un proyecto lingüístico, así que intentamos que la tecnología se
                note lo menos posible, pero que sepas que utilizamos toda la que está a nuestro alcance para
                simplificar tu tarea como informante.
                {% endblocktrans %}
            </p>
            <p>
                {% blocktrans %}
                Si quieres saber más, te diremos que utilizamos Python/Django para el <i>backend</i>,
                C++ para los cálculos más duros y algo de JavaScript en el <i>front</i>. Todo ello montado en
                Amazon EC2 con una base de datos relacional. ¿Te interesa? Pues pásate por nuestro
                <a href="https://github.com/jgsogo/neutron" target="_blank">repositorio en Github</a> y colabora, ¡no
                sólo de informantes vive el proyecto!
                {% endblocktrans %}
            </p>
        </div>
    </div>

    <h3 class="cabecera-caja-fondo-gris-02">{% trans "¿Quieres saber más?" %}</h3>
    <div class="content">
        <div class="caja-fondo-gris">
            <form method="post" action="{% url 'home_ask' %}">{% csrf_token %}
                <textarea id="id_user_input" name="user_input" cols="30" rows="10" placeholder="{% trans "Háblanos de ti y cuéntanos qué te gustaría saber, somos todo oídos." %}"></textarea>
                <button class="b-yellow">{% trans "Enviar" %}</button>
            </form>
        </div>
    </div>

{% endblock %}
