{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Participa" %}{% endblock %}

{% block content %}
    <h2>Súmate al proyecto</h2>
    <h3 class="cabecera-caja-fondo-gris-01 margin-top-tres">Llamada a la acción</h3>
    <div class="content">
        <div class="caja-fondo-gris">
            <h4>Únete a nosotros y cuéntanos cómo es tu español</h4>
            <p>Buscamos hablantes de español con ilusión por reivindicar las peculiaridades de su habla y formar parte de un proyecto pionero.</p>
            <p>Si cumples estos requisitos, te queremos a bordo:</p>
            <ul>
                <li>Eres hablante nativo.</li>
                <li>Has nacido y crecido en el mismo país (distinto de España) en el que resides.</li>
                <li>En los últimos dos años no has pasado más de seis meses en otro país hispanohablante.</li>
            </ul>
            <h4>¿Qué tendrías que hacer?</h4>
            <p>Necesitamos que recorras un glosario de palabras definidas de forma sencilla e ilustradas con ejemplos y que respondas a tres tipos de preguntas:</p>
            <ul>
                <li>¿Te resulta malsonante esta palabra?</li>
                <li>¿La usas para expresar este significado?</li>
                <li>Si no la usas, ¿prefieres utilizar otra?</li>
            </ul>
            <h4>¿Qué puedes obtener a cambio?</h4>
            <p>Nuestros informantes reciben el <span class="color-orange">certificado Neutrón</span>, que expresa formalmente su participación en un proyecto de investigación lingüística patrocinado por prestigiosas entidades públicas y del sector privado.</p>
        </div><!-- caja-fondo-gris -->
    </div><!-- content -->

    <h3 id="join_form" class="cabecera-caja-fondo-gris-02">{% trans "Formulario" %}</h3>
    <div class="content">
        <div class="caja-fondo-gris">
            <form method="post" action="{% url 'join' %}#join_form">{% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.name.errors }}{{ form.name }}
                {{ form.surname.errors }}{{ form.surname }}
                {{ form.email.errors }}{{ form.email }}
                {{ form.region.errors }}{{ form.region }}
                {{ form.known_us.errors }}{{ form.known_us }}
                {{ form.education.errors }}{{ form.education }}
                <p>
                    {% blocktrans %}
                        <strong>Declaro.-</strong> Al solicitar mi participación en el proyecto Neutrón, declaro que cumplo con
                        los requisitos exigidos a los informantes: soy hablante nativo de español;
                        nací y crecí en el país indicado, donde resido actualmente; durante los dos últimos años
                        no he permanecido en otro país de habla hispana durante un tiempo superior a seis meses.
                    {% endblocktrans %}
                </p>
                <input id="id_declaration" name="declaration" type="checkbox">
                    {% trans "Acepto" %}.
                    {% if form.declaration.errors %}
                        <span class="b-orange">{% trans "This declaration must be accepted to continue." %}</span>
                    {% endif %}
                </input>
                <button class="b-yellow">{% trans "Participar" %}</button>
            </form>
        </div><!-- caja-fondo-gris -->
    </div><!-- content -->

{% endblock %}
