{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Participa" %}{% endblock %}

{% block content %}
    <h2>{% trans "Súmate al proyecto" %}</h2>
    <h3 class="cabecera-caja-fondo-gris-01 margin-top-tres">{% trans "Llamada a la acción" %}</h3>
    <div class="content">
        <div class="caja-fondo-gris">
            <h4>Únete a nosotros y cuéntanos cómo es tu español</h4>
            <p>Buscamos hablantes de español con ilusión por reivindicar las peculiaridades de su habla y formar parte de un proyecto pionero.</p>
            <p>Si cumples estos requisitos, te queremos a bordo:</p>
            <ul>
                <li>Eres hablante nativo.</li>
                <li>Has nacido y crecido en el mismo país (distinto de España) en el que resides.</li>
                <li>En los últimos dos años no pasaste más de seis meses en otro país hispanohablante.</li>
            </ul>
            <h4>¿Qué tendrías que hacer?</h4>
            <p>Necesitamos que recorras un glosario de palabras definidas de forma sencilla e ilustradas con ejemplos y que respondas a tres tipos de preguntas:</p>
            <ul>
                <li>Juego 1: ¿usas esta palabra con este significado?</li>
                <li>Juego 2: si no la usas, ¿qué palabra usas?</li>
                <li>Juego 3: ¿te resulta grosera?</li>
            </ul>
            <h4>¿Qué puedes obtener a cambio?</h4>
            <p>
                Nuestros informantes reciben el <span class="color-orange">certificado Neutrón</span>, que expresa
                formalmente su participación en un proyecto de investigación lingüística patrocinado por
                <a href="{% url 'about' %}">prestigiosas entidades públicas y del sector privado</a>.
            </p>
        </div>
    </div>

    {% if not user.is_authenticated %}
    <h3 id="join_form" class="cabecera-caja-fondo-gris-02">{% trans "Datos personales" %}</h3>
    <div class="content">
        <div class="caja-fondo-gris">
            <form method="post" action="{% url 'join' %}">{% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.name.errors }}{{ form.name }}
                {{ form.email.errors }}{{ form.email }}
                {{ form.region.errors }}{{ form.region }}
                {{ form.education.errors }}{{ form.education }}
                {{ form.known_us.errors }}{{ form.known_us }}
                <p><h5>{% trans "Before joining you must confirm" %}:</h5></p>
                <p>
                    {{ form.is_native_speaker.errors }}{{ form.is_native_speaker }}
                    {% trans "I'm a native spanish speaker" %}
                </p>
                <p>
                    {{ form.is_living_region.errors }}{{ form.is_living_region }}
                    {% trans "I'm currently living in the region stated above" %}
                </p>
                <p>
                    {{ form.is_no_abroad.errors }}{{ form.is_no_abroad }}
                    {% trans "I haven't lived for more than 6 months during the last 2 years in another spanish speaking country" %}
                </p>
                <button class="b-yellow">{% trans "Participar" %}</button>
            </form>
        </div><!-- caja-fondo-gris -->
    </div><!-- content -->
    {% else %}
        <h2>{% trans "You are already part of the project. Thanks!" %}</h2>
    {% endif %}

{% endblock %}
