{% extends 'word_use/home.html' %}
{% load bootstrap3 %}

{% block word_use_content %}
    {% if meaning %}
        <h3>{{ meaning.word }}</h3>
        <p>{{ meaning.definition }}</p>
        <form method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" name="use" value="0" class="btn btn-primary">Ok</button>
                <button type="submit" name="use" value="1" class="btn btn-primary">Prefer other</button>
                <button type="submit" name="use" value="2" class="btn btn-primary">Don't understand</button>
            {% endbuttons %}
        </form>
    {% else %}
        <h3>Error!</h3>
        <p>There are no meanings in the database.</p>
    {% endif %}
{% endblock %}