{% extends 'wordcoarse/home.html' %}
{% load bootstrap3 i18n %}

{% block wordcoarse_content %}
    {% if item %}
        <h3>{{ item }}</h3>
        <form method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                {% for button in button_items %}
                    <button type="submit" name="profane" value="{{ button.0 }}" class="btn btn-primary">{{ button.1 }}</button>
                {% endfor %}
            {% endbuttons %}
        </form>
        {% if undo %}
            <form method="post" class="form">
                {% csrf_token %}
                <input type="hidden" name="undo" value="{{ undo.0 }}"/>
                <button type="submit" name="">{% trans "Undo" %} ({{ undo.1 }})</button>
            </form>
        {% endif %}
    {% else %}
        <p>{% trans "Ooops! There are no meanings in the database" %}.</p>
    {% endif %}
{% endblock %}