{% extends 'profile/user_form.html' %}
{% load bootstrap3 %}
{% load i18n %}

{% block content_profile %}
    <h3 class="cabecera-caja-fondo-gris-02">{% trans "Datos de informante" %}</h3>
    {% if not user.is_informer %}
        <p>You are not an informer yet, please fill the form below.</p>
    {% endif %}
    <div class="content">
        <div class="caja-fondo-gris">
            <form method="post" class="form">{% csrf_token %}
                {{ form.region.errors }}{{ form.region.label_tag }}{{ form.region }}
                {{ form.education.errors }}{{ form.education.label_tag }}{{ form.education }}
                {{ form.known_us.errors }}{{ form.known_us.label_tag }}{{ form.known_us }}
                {{ form.gender.errors }}{{ form.gender.label_tag }}{{ form.gender }}
                {{ form.birthday.errors }}{{ form.birthday.label_tag }}
                <input id="id_birthday" name="birthday" type="text" {% if form.birthday.value %}value="{{ form.birthday.value|date:'d/m/Y' }}"{% endif %} placeholder="23/01/1900">
                <button type="submit" class="b-yellow">{% trans "Update" %}</button>
            </form>
        </div>
    </div>
{% endblock %}