{% extends 'neutron/base.html' %}


{% block neutron_word_link %}
    {% if definition %}
        <li><a href="{% url 'neutron:word_detail' pk=definition.word.pk %}">{{ definition.word }}</a></li>
    {% endif %}
{% endblock %}

{% block neutron_content_menu_additional %}
    <h3>Filtros</h3>
    <ul>
        <li><a href="{% url 'neutron:definition_detail_coarsity' pk=definition.pk %}">Coarsity</a></li>
        <li><a href="{% url 'neutron:definition_detail_uses' pk=definition.pk %}">Uses</a></li>
    </ul>
{% endblock %}

{% block neutron_content %}
    <h2>{{ definition }}</h2>
    <p><strong>Informante/Diccionario:</strong> {{ definition.informer }}</p>

    {% block definition_detail_content %}
        <h3>Some numbers</h3>
        <ul>
            <li>
                Datos recolectados: {{ data.count }}
                <ul>
                    <li><a href="{% url 'neutron:definition_detail_coarsity' pk=definition.pk %}">Coarsity</a>: {{ coarseword_qs.count }}</li>
                    <li><a href="{% url 'neutron:definition_detail_uses' pk=definition.pk %}">Uses</a>: {{ worduse_qs.count }}</li>
                </ul>
            </li>
            <li>
                Informantes: {{ informers.count }}
                <ul>
                    {% for item in regions %}
                        <li>{{ item.region__name }}: {{ item.dcount }}</li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% endblock %}
{% endblock %}