{% extends 'base.html' %}
{% load i18n %}
{% load neutron_tags %}

{% block content %}
    <h2>{% trans "Consultar palabra" %}</h2>
    <div class="content">
        <div class="buscador-palabra">
            <form method="post" class="form">
                {% csrf_token %}
                <input id="id_word" name="word" required="required" type="text" placeholder="{% trans "Escribir palabra" %}...">
                <button>{% trans "bucar" %}</button>
            </form>
        </div><!-- buscador-palabra -->

        {% if suggestions %}
            <h4>{% trans "Similar words" %}</h4>
            {% split_list suggestions as chunked_data 3 %}
            <div class="row">
                {% for chunk in chunked_data %}
                <div class="col-sm-4">
                    {% for word in chunk %}
                        <p><a href="{% url 'neutron:word_detail' pk=word.pk %}">{{ word }}</a></p>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        {% endif %}

    </div>
{% endblock %}
