{% extends 'neutron/base.html' %}
{% load bootstrap3 %}


{% block neutron_word_link %}
    {% if word %}
        <li><a href="{% url 'neutron:word_detail' pk=word.pk %}">{{ word }}</a></li>
    {% endif %}
{% endblock %}

{% block neutron_content %}
    <h2>{{ word }}</h2>
    <p><strong>Informante/Diccionario:</strong> {{ informer }}</p>
    <h3>Acepciones:</h3>
    <ul>
        {% for def in definitions %}
        <li>(<a href="{% url 'neutron:definition_detail' informer_pk=informer.pk word=word pk=def.pk %}">details</a>) {{ def }}</li>
        {% endfor %}
    </ul>
{% endblock %}
