{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h2>{% trans "Consultar palabra" %}</h2>
    <div class="content">
        <div class="buscador-palabra">
            <form method="post" class="form">
                {% csrf_token %}
                <input id="id_word" name="word" required="required" type="text" placeholder="{% trans "Escribir palabra" %}...">
                <button>{% trans "bucar" %}</button>
            </form>
        </div><!-- buscador-palabra -->
    </div>
{% endblock %}
