{% extends 'neutron/word_detail.html' %}
{% load bootstrap3 %}

{% block neutron_content %}
    <h2>Search a word</h2>
    <p>
        En el futuro el diccionario no se podrá elegir, habrá uno que será la referencia (Básico SM);
        pero la organización de la base de datos nos permite utilizar como referencia cualquiera de
        los informantes.
    </p>
    <form method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Search</button>
        {% endbuttons %}
    </form>
    <p>
        Y como de momento no tenemos muchas palabras aquí metidas, pues pongamos algunos ejemplos
        para que no haya que buscar:
        <ul>
            {% for example in examples %}
                <li><a href="{% url 'neutron:word_detail' informer_pk=example.informer.pk word=example.word %}">{{ example.word }}</a></li>
            {% endfor %}
        </ul>
    </p>
{% endblock %}
